[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:google/googletest.git
